.calendarDay {
    border: 1px solid #9687a9;
    width: 10rem;
    height: 12rem;
    padding: 10px;
    margin: .4rem;
    cursor: pointer;
    transition: 350ms ease-in-out;
}

.calendarDay:hover {
    transform: scale(1.05);
}

.calendarDay__available {
    border: 1px solid blue;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.calendarDay__isUnavailable{
    border: 1px solid red;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.calendarDay__isBooked{
    border: 1px solid green;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}