.displayHeader {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.displayHeader > h3 {
    font-size: 2rem;
    font-weight: 300;
}